/* Main container */
div.container-fluid {
  margin: 50px;
}

/* Participants */
div.col-left {
  height: 700px;
  background-color: #EBEBEB;
  border-style: solid;
  border-width: 1px;
  border-color: #CCCCCC;
  padding: 0;
}

/* Chat */
div.col-right {
  height: 700px;
  background-color: #C0C0C0;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #CCCCCC;
}

/* Video chat */
div.chat-video-others {
  height: 50%;
  background-color: #1A2224;
}

/* Video chat */
div.chat-video-self {
  height: 20%;
  background-color: #1A2224;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #CCCCCC;
}

/* Text chat */
div.chat-text {
  height: 22%;
  background-color: #FFFFFF;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #CCCCCC;
}

/* Chat input */
div.chat-input {
  height: 8%;
  background-color: #EBEBEB;
  padding-left: 15px;
  padding-right: 15px;
}

ul.participants {
  padding-left: 0;
  list-style-type: none;
}

li:hover { background-color: #FFFFFF; }

li.participant {
  padding-right: 5px;
  height: 40px;
  line-height: 40px;
  color: #626362;
  vertical-align: middle;
}

input.chat-input {
  margin-top: 16px;
  width: 95%;
  border-radius: 10px; 
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px; 
  border: 1px solid #CCCCCC;
}
span.chat-input-icon {
  margin-top: 16px;
  color: #56A7BB;
}

text.participant-button {
  color: #56A7BB;
}

/* Participant call buttons */
li a { color: #56A7BB; }
li a:hover { color: #7DBD3A; }

#selfVideo {
  /* Ratio is 0.75 */
  height: 135px;
  width: 180px;
  border: 1px solid #CCCCCC;
  margin-left: 4px;
}

#callerVideo {
  /* Ratio is 0.75 */
  height: 487.594px;
  width: 838.328px;
}